*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-raleway{
    font-family: "Raleway", sans-serif;
}
.font-inter{
    font-family: "Inter", sans-serif;
}
.vessel{
    width: 90%;
    max-width: 1170px;
    margin: auto;
}
.vessel_2-0{
    width: 90%;
    max-width: 1440px;
    margin: auto;
}
.shadow-down{
    box-shadow: 0px 4px 0px 0px  #1DD100;
}
.title-head{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.b-radius{
    /* border-radius: 20; */
    position: relative;
    width: 20px;
    height: 200px;
}
.b-radius::after {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    border-left: 3px dotted #FFFFFF; /* Adjust border color and style as needed */
  }
.g-radius{
    /* border-radius: 20; */
    position: relative;
    width: 20px;
    height: 200px;
}
.g-radius::after {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    border-left: 3px dotted #1DD100; /* Adjust border color and style as needed */
  }
  .coupon-bg{
    --tw-bg-opacity: .54;
    background-color: rgb(102 103 171 / var(--tw-bg-opacity));
  }
  .round-topLeft-bottomleft{
    border-radius: 25px 0px 0px 25px;
  }
  .round-topRight-bottomRight{
    border-radius: 0px 25px 25px 0px;
  }